<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="urf-8">
  <title></title>

</head>

<body>
  <%- include layout %>
    <div class="container"> <br><br>
      <h4> <a>หอพักนักศึกษาในกำกับมหาวิทยาลัยสงขลานครินทร์ วิทยาเขตภูเก็ต</a> </h4>
      <h6> เปิดบริการห้องพักสำหรับนักศึกษาหญิง พร้อมสรรพด้วยสิ่งอำนวยความสะดวก อาทิ บริการ Internet ระบบ Wi-Fi ,
        เครื่องปรับอากาศ , ตู้เย็น ,โทรศัพท์ภายใน พร้อมห้องสันทนาการต่างๆ เช่น ห้องโทรทัศน์ ,ห้องนั่งเล่น
        รวมไปถึงห้องอ่านหนังสือ อีกทั้งยังมีบริการจากร้านค้าต่างๆ เช่น ร้านอาหาร , ร้านเครื่องดื่ม , ร้านถ่ายเอกสาร
        ,ร้านเบเกอรี่ ,ไอศครีม ,ร้านมินิมาร์ท , ร้านผลไม้, ร้านซัก-อบรีดและตลาดนัดทุกวันจันทร์และวันพุธ
        พร้อมมีเจ้าหน้าที่รักษาความปลอดภัยตลอด 24 ชั่วโมงและกล้องวงจรปิดทั้งภายนอกอาคารและภายในอาคาร </h6> <br><br>
      <h4>บริการและสวัสดิการภายนอกห้องพัก</h4>
      <h6>- เครื่องกรองน้ำ <br>

        - ห้องดูโทรทัศน์ <br>

        - ห้องอ่านหนังสือ <br>

        - ห้องประชุม <br>

        - เครื่องซักผ้าอัตโนมัติหยอดเหรียญ <br>

        - ยาสามัญประจำบ้าน <br>

        - ร้านมินิมาร์ท ,ร้านซักรีด , ร้านอาหารอิสลาม <br>

        - ร้านกาแฟ, ร้านอาหาร , ร้านผลไม้ , ร้านอาหารตามสั่ง , ร้านติ่มซำ <br>

        - เจ้าหน้าที่รักษาความปลอดภัยประจำหอพัก ตลอด 24 ชั่วโมง <br>

        - เจ้าหน้าที่นอนเวรประจำหอพัก</h6>


      <br>เยี่ยมชมเว็บไซต์ :https://www.phuket.psu.ac.th/on-campus-accommodation/</br>
      <a href="/">ย้อนกลับ</a>
    </div>

</body>

</html>